// COLOR PALETTE
$primary: #033063;
$secondary: #142E4A;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;

// FONT STACKS
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, serif;